@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Doctor's Appointment</h1>
    <p class="lead">Tired of missing appointments? Scared of the terrible traffics on road? It's your time to sit back and relax. Doctors' appointments at your finger tips.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="jumbotron">
    <img src="@Url.Content("~/Images/Doctors.jpg")" @*style="width:304px; height:228px"*@ />
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Before Appointment</h2>
        <p>
            Before the appointment, write down a list of things you need to tell the doctor. Note any concerns or questions you may have. Also write down the names and dosages of any prescription, over-the-counter medications, or supplements you are taking.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Meeting The Doctor</h2>
        <p>Don't hesitate to use the words "I don't understand." Doctors are only human and may not always know when they haven't explained something well or in terms you can understand. Never feel embarrassed or shy about asking for clarification about something.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Post Appointment</h2>
        <p>Finally, the office medical assistants and nurses can be an additional resource of information. Do not hesitate to ask them questions about your concerns as well. Always try to complete the medicine courses in time and do not forget about your next appointment.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>