@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Tomal Info Tech (Pvt.) Ltd.<br />
    14/A/2, Mohammadpur, Dhaka-1207<br />
    <abbr title="Phone"><strong>Phone:</strong> <a href="mailto:contact@tomalinfotech.com">+88-02-956275</a><br /></abbr>
    <strong>Email:</strong>   <a href="mailto:contact@tomalinfotech.com">contact@tomalinfotech.com</a><br />
</address>