OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/bin/OnlineDoctorsAppointmentApp.dll
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/bin/OnlineDoctorsAppointmentApp.pdb
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/bin/OnlineDoctorsAppointmentApp.pdb
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/obj/Debug/OnlineDoctorsAppointmentApp.dll
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/obj/Debug/OnlineDoctorsAppointmentApp.pdb
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp.v12.suo
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/Views/Appointment/Create.cshtml
*.cache
*.suo
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/obj/Debug/OnlineDoctorsAppointmentApp.csproj.FileListAbsolute.txt
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/obj/Debug/OnlineDoctorsAppointmentApp.csprojResolveAssemblyReference.cache
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/obj/Debug/OnlineDoctorsAppointmentApp.csprojResolveAssemblyReference.cache
*.pdb
OnlineDoctorsAppointmentApp/OnlineDoctorsAppointmentApp/bin/OnlineDoctorsAppointmentApp.pdb
*.suo
*.suo
*.suo
*.pdb