@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>Vision</b></p>
<p>Twenty years from now, we will be one of the best IT firms in Asia by providing the best quality consistency and continuous innovation in our IT service.</p>
<p><b>Mision</b></p>
<p>We are mainly focusing on obtaining customer's satisfaction by providing consistency and continuous innovation in values. We are also focusing on integrity withing the organization and align employees' goal with the company's goal.</p>
