@model IEnumerable<OnlineDoctorsAppointmentApp.Models.Appointment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Appoinments</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>